@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top right, #d400ff, #00bfff);
    background-repeat: no-repeat;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    width: 70vw;
    height: 70vh;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(2rem);
    border-radius: 2rem;
    display: flex;
    z-index: 3;
}

.circle1, .circle2 {
    width: 300px;
    height: 300px;
    position: absolute;
    background-image: linear-gradient(to bottom right, #FFF, rgba(255, 255, 255, 0.3));
    border-radius: 50%;
    z-index: 2;
}

.circle1 {
    bottom: 5%;
    left: 10%;
}

.circle2 {
    top: 10%;
    right: 20%;
}

/* .sidebar, .content {
    
} */

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 2rem;
    background-color: #F0F0F0;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    flex: 2;
}

.profile {
    height: 5rem;
    width: 5rem;
}

.nav-option {
    display: flex;
    align-items: center;
}

.sidebar-hr {
    
}